@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Harvard University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Harvard University</h2>
        <p>
            Harvard is at the frontier of academic and intellectual discovery.
        </p>
    </div>
</div>
